@page "{QuestionnaireId}/{QuestionId}"
@model SimplzQuestionnaire.Pages.Questions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Question.QuestionId" />
            <div class="form-group">
                <label asp-for="Question.Description" class="control-label"></label>
                <input asp-for="Question.Description" class="form-control" />
                <span asp-validation-for="Question.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.Timeout" class="control-label"></label>
                <input asp-for="Question.Timeout" class="form-control" />
                <span asp-validation-for="Question.Timeout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.MaxAnswers" class="control-label"></label>
                <input asp-for="Question.MaxAnswers" class="form-control" />
                <span asp-validation-for="Question.MaxAnswers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.MaxPoints" class="control-label"></label>
                <input asp-for="Question.MaxPoints" class="form-control" />
                <span asp-validation-for="Question.MaxPoints" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Question.AcceptsCustomAnswer" /> @Html.DisplayNameFor(model => model.Question.AcceptsCustomAnswer)
                </label>
            </div>
            <input type="hidden" asp-for="Question.QuestionnaireId" />
            @*<div class="form-group">
                    <label asp-for="Question.QuestionnaireId" class="control-label"></label>
                    <select asp-for="Question.QuestionnaireId" class="form-control" asp-items="ViewBag.QuestionnaireId"></select>
                    <span asp-validation-for="Question.QuestionnaireId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-QuestionnaireId="@Model.QuestionnaireId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
